@media only screen and (max-width: 1440px) {
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 23.5%;
  }
}

@media only screen and (max-width: 1200px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-text {
    padding: 45px 24px 27px;
  }
  .edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-text {
    padding: 46px 15px 41px;
  }
}

@media only screen and (max-width: 1024px) {
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-image,
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-text {
    display: inline-block;
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content .edgtf-post-text-inner {
    padding-left: 0px;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 32%;
  }
}

@media only screen and (max-width: 768px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry article,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 49%;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post,
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post,
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 49.875%;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n),
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n),
  .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n) {
    margin-right: 0;
  }
  .edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1),
  .edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1),
  .edgtf-related-posts-holder .edgtf-related-post:nth-child(2n+1) {
    clear: both;
  }
}

@media only screen and (max-width: 600px) {
  .edgtf-blog-holder.edgtf-blog-type-masonry article,
  .edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
  .edgtf-blog-holder.edgtf-masonry-full-width article,
  .edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .edgtf-related-posts-holder .edgtf-related-post {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .edgtf-related-posts-holder .edgtf-related-posts-title h3:before,
  .edgtf-related-posts-holder .edgtf-related-posts-title h3:after {
    display: none !important;
  }
  .edgtf-author-description .edgtf-author-description-image {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .edgtf-author-description .edgtf-author-description-text-holder {
    padding: 20px 0 0;
  }
  .edgtf-comment-holder .edgtf-comment-image {
    float: none;
  }
  .edgtf-comment-holder .edgtf-comment-text {
    padding: 20px 0 0;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-comment-name-holder,
  .edgtf-comment-holder .edgtf-comment-text .edgtf-reply-edit-holder {
    float: none;
    display: block;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-comment-name-holder {
    margin-bottom: 5px;
  }
  .edgtf-comment-holder .edgtf-comment-text .edgtf-reply-edit-holder {
    margin-bottom: 18px;
  }
  .edgtf-comment-holder .edgtf-comment-text .comment-edit-link {
    margin: 0;
  }
}

/*# sourceMappingURL=blog-responsive.css.map */