.edgtf-blog-holder article {
  margin-bottom: 68px;
}

.edgtf-blog-holder article:not(.format-audio) .edgtf-post-image {
  margin-bottom: 26px;
}

.edgtf-blog-holder article .edgtf-post-image img {
  vertical-align: middle;
}

.edgtf-blog-holder article .edgtf-post-text-inner > h1:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h2:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h3:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h4:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h5:not(.edgtf-post-title),
.edgtf-blog-holder article .edgtf-post-text-inner > h6:not(.edgtf-post-title) {
  margin: 15px 0;
}

.edgtf-blog-holder article .edgtf-blog-audio-holder {
  margin-bottom: 23px;
}

.edgtf-blog-holder article .edgtf-post-excerpt {
  margin-bottom: 0;
}

.edgtf-blog-holder article .edgtf-post-title {
  margin-bottom: 2px;
}

.edgtf-blog-holder article.sticky .edgtf-post-title a {
  color: #d6ab60;
}

.edgtf-blog-holder article .edgtf-post-info {
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 15px;
  color: #d6ab60;
}

.edgtf-blog-holder article .edgtf-post-info > div {
  display: inline-block;
  position: relative;
  padding-right: 12px;
  margin-right: 12px;
}

.edgtf-blog-holder article .edgtf-post-info > div:after {
  content: '|';
  position: absolute;
  right: 0;
  top: 50%;
  color: #b7b7b7;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 14px;
  line-height: 13px;
}

.edgtf-blog-holder article .edgtf-post-info > div a {
  color: #d6ab60;
}

.edgtf-blog-holder article .edgtf-post-info > div:last-child {
  margin-right: 0;
  padding-right: 0;
}

.edgtf-blog-holder article .edgtf-post-info > div:last-child:after {
  display: none;
}

.edgtf-blog-holder article .edgtf-blog-read-more {
  margin-top: 17px;
  display: block;
  padding: 0;
}

.edgtf-blog-holder article .edgtf-post-info-bottom {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  border-top: 1px solid #d6ab60;
  padding: 18px 0 0;
  margin-top: 61px;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left {
  float: left;
  width: 50%;
  font-family: Georgia, serif;
  font-size: 14px;
  font-style: italic;
  color: #d6ab60;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-left a {
  color: #d6ab60;
}

.edgtf-blog-holder article .edgtf-post-info-bottom .edgtf-post-info-bottom-right {
  float: right;
  text-align: right;
  width: 50%;
}

.edgtf-blog-holder article.format-link .edgtf-post-text, .edgtf-blog-holder article.format-quote .edgtf-post-text {
  padding: 20px 28px 21px;
  position: relative;
  background-color: #f6f6f6;
  border: 1px solid #e4e4e4;
}

.edgtf-blog-holder article.format-link .edgtf-post-title, .edgtf-blog-holder article.format-quote .edgtf-post-title {
  margin: 0;
}

.edgtf-blog-holder article .edgtf-post-mark {
  position: absolute;
  right: 0;
  top: 0;
  color: #d6ab60;
}

.edgtf-blog-holder article .edgtf-post-mark.edgtf-quote-mark {
  font-size: 30px;
  padding: 19px 19px 0 0;
}

.edgtf-blog-holder article .edgtf-post-mark.edgtf-link-mark {
  font-size: 25px;
  padding: 23px 21px 0 0;
}

.edgtf-blog-holder article .edgtf-quote-author {
  color: #313131;
  display: block;
  padding-top: 19px;
  padding-bottom: 8px;
}

.edgtf-blog-holder:not(.edgtf-blog-single) article.format-link .edgtf-post-info-bottom, .edgtf-blog-holder:not(.edgtf-blog-single) article.format-quote .edgtf-post-info-bottom {
  border-top-color: #bfbfbf;
  border-bottom: 0;
  padding-bottom: 0;
  margin-top: 33px;
}

.edgtf-blog-holder.edgtf-blog-single article {
  margin-bottom: 20px;
}

.edgtf-blog-holder.edgtf-blog-single article:not(.format-audio) .edgtf-post-image {
  margin-bottom: 30px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-blog-audio-holder {
  margin-bottom: 30px;
}

.edgtf-blog-holder.edgtf-blog-single article .edgtf-post-info {
  margin-bottom: 22px;
}

.edgtf-blog-holder.edgtf-blog-single article.format-link .edgtf-post-text, .edgtf-blog-holder.edgtf-blog-single article.format-quote .edgtf-post-text {
  background-color: #f6f6f6;
  margin-bottom: 50px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry {
  margin-bottom: 20px;
  overflow: visible !important;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
}

.edgtf-blog-holder.edgtf-blog-type-masonry.edgtf-appeared {
  opacity: 1;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-post-image a {
  display: block;
  position: relative;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-post-image a:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-post-image a:hover:after {
  opacity: 1;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article {
  display: block;
  width: 32%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  z-index: 100;
  margin: 0 0 50px;
  box-sizing: border-box;
  -webkit-transition: border-color 0.15s ease-out;
  -moz-transition: border-color 0.15s ease-out;
  transition: border-color 0.15s ease-out;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-info {
  margin-bottom: 20px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-link .edgtf-post-text {
  padding: 63px 24px 56px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article.format-quote .edgtf-post-text {
  padding: 91px 24px 42px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-mark.edgtf-quote-mark {
  padding: 7px 4px 0 0;
  font-size: 40px;
}

.edgtf-blog-holder.edgtf-blog-type-masonry article .edgtf-post-mark.edgtf-link-mark {
  padding: 17px 12px 0 0;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-sizer {
  width: 32%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry .edgtf-blog-masonry-grid-gutter {
  width: 2%;
}

.edgtf-blog-holder.edgtf-blog-type-masonry #infscr-loading {
  position: absolute;
  bottom: -35px;
  left: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}

.edgtf-blog-holder.edgtf-masonry-full-width {
  margin-right: 2%;
  margin-left: 2%;
}

.edgtf-blog-holder.edgtf-masonry-full-width article {
  width: 18.4%;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-sizer {
  width: 18.4%;
}

.edgtf-blog-holder.edgtf-masonry-full-width .edgtf-blog-masonry-grid-gutter {
  width: 2%;
}

.edgtf-blog-holder.edgtf-blog-single article {
  margin-bottom: 30px;
}

.edgtf-blog-infinite-scroll-button-holder {
  text-align: center;
}

.edgtf-blog-infinite-scroll-button-holder .edgtf-blog-infinite-scroll-button a {
  visibility: hidden;
}

.edgtf-filter-blog-holder {
  text-align: center;
  margin-bottom: 30px;
}

.edgtf-filter-blog-holder li {
  display: inline-block;
  padding: 0 8px;
  cursor: pointer;
  font-size: 15px;
}

.edgtf-filter-blog-holder li.edgtf-active {
  color: #d6ab60;
}

/* #Blog Split Column - start
   ========================================================================== */
.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-content {
  position: relative;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-image,
.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-text {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}

.edgtf-blog-holder.edgtf-blog-type-split-column article:not(.format-quote):not(.format-link) .edgtf-post-text-inner {
  padding-left: 20px;
}

/* #Blog Split Column - end
========================================================================== */
/* #Audio styles - start
   ========================================================================== */
.edgtf-blog-audio-holder {
  width: 100%;
  height: 44px;
}

.edgtf-blog-audio-holder .mejs-container {
  height: 44px !important;
  background: -webkit-linear-gradient(left, #c0954b, #e7bd74);
  background: -o-linear-gradient(right, #c0954b, #e7bd74);
  background: -moz-linear-gradient(right, #c0954b, #e7bd74);
  background: linear-gradient(to right, #c0954b, #e7bd74);
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls {
  height: 37px !important;
  padding: 0 13px 0 10px;
  box-sizing: border-box;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  color: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-button button {
  background-image: url(img/controls.svg);
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin: 5px 8px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-mute button {
  margin: 7px 4px 7px 2px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls a.mejs-horizontal-volume-slider {
  margin-top: 1px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time {
  padding: 10px 8px 0 6px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #fff;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-current,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #d6ab60;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail span,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail a {
  height: 5px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-time-rail .mejs-time-total {
  margin-top: 7px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
.edgtf-blog-audio-holder .mejs-container .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  height: 5px;
}

.edgtf-blog-audio-holder .mejs-container .mejs-container,
.edgtf-blog-audio-holder .mejs-container .mejs-controls {
  background: transparent;
}

/* #Audio styles - end
========================================================================== */
/* #Blog Single - start
========================================================================== */
.edgtf-author-description {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 32px;
  margin-bottom: 30px;
  border: 1px solid #e4e4e4;
  background-color: #f6f6f6;
}

.edgtf-author-description .edgtf-author-description-image {
  float: left;
  width: 165px;
  margin-right: 23px;
}

.edgtf-author-description .edgtf-author-description-image img {
  vertical-align: middle;
}

.edgtf-author-description .edgtf-author-description-text-holder {
  padding-left: 195px;
  position: relative;
}

.edgtf-author-description .edgtf-author-text {
  margin: 11px 0 0;
}

.edgtf-author-description .edgtf-author-text p:last-child {
  margin: 0;
}

.edgtf-single-tags-holder {
  margin: 20px 0;
}

.edgtf-single-tags-holder .edgtf-single-tags-title {
  display: inline-block;
  margin-right: 5px;
}

.edgtf-single-tags-holder .edgtf-tags {
  display: inline-block;
}

.edgtf-single-tags-holder .edgtf-tags a {
  margin: 0 5px;
}

.edgtf-blog-single-navigation {
  position: relative;
}

.edgtf-blog-single-navigation .edgtf-blog-single-navigation-inner {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev,
.edgtf-blog-single-navigation .edgtf-blog-single-next {
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev a,
.edgtf-blog-single-navigation .edgtf-blog-single-next a {
  color: #565656;
}

.edgtf-blog-single-navigation .edgtf-blog-single-prev {
  float: left;
}

.edgtf-blog-single-navigation .edgtf-blog-single-next {
  float: right;
}

/* #Blog Single - end
========================================================================== */
/* Related Posts - begin
========================================================================== */
.edgtf-related-posts-holder {
  margin-bottom: 35px;
  padding-bottom: 35px;
}

.edgtf-related-posts-holder .edgtf-related-posts-title {
  margin-bottom: 20px;
}

.edgtf-related-posts-holder .edgtf-related-post {
  width: 24.8125%;
  margin-right: 0.25%;
  display: inline-block;
  float: left;
}

.edgtf-related-posts-holder .edgtf-related-post:nth-child(4n) {
  margin-right: 0;
}

.edgtf-related-posts-holder .edgtf-related-post img {
  display: block;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-image {
  margin-bottom: 16px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-title,
.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-info {
  margin-bottom: 6px;
}

.edgtf-related-posts-holder .edgtf-related-post .edgtf-related-post-info {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post,
.edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post {
  width: 33.16%;
  margin-right: 0.25%;
}

.edgtf-column1 .edgtf-related-posts-holder .edgtf-related-post:nth-child(3n),
.edgtf-column2 .edgtf-related-posts-holder .edgtf-related-post:nth-child(3n) {
  margin-right: 0;
}

/* Related Posts - end
========================================================================== */

/*# sourceMappingURL=blog.css.map */